.header {
  width: 100vw;
  height: 10em;
  background: #f69324;
  display: flex;
  justify-content: center;
  align-items: center;
  .headerLOGO {
    width: 300px;
    height: 140px;
    > img {
      width: inherit;
      height: inherit;
      object-fit: cover;
      object-position: center;
    }
  }
  &.open {
    background: #282929;
  }
}
