.navbar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #f1323e;
  padding-top: 60px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  color: #fefffe;
  box-shadow: #ffffff17 0px 3px 12px;
  z-index: 1000;
}

.navbar.open {
  left: 0;
}

.toggle-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fefffe;
  box-shadow: #00000059 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.toggle-button.shiftBTN {
  left: 75%;
  position: absolute;
  color: #fefffe;
  box-shadow: #ffffff59 0px 5px 15px;
}
.darkLightBTN {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #282929;
  font-size: 50px;
  z-index: 100;
  box-shadow: #ffffff59 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.darkLightBTN.openBTN {
  color: #f1323e;
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

li {
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

li:hover {
  background: #282929;
}

.menuBar li > a {
  color: #fefffe;
}

.extraBTN {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}
.extraBTN > li {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s;
  > a {
    color: #fefffe;
    transition: all 0.5s;
  }
}
.extraBTN > li:hover a {
  color: #fefffe;
}

.LSLPD {
  position: absolute;
  bottom: 50px;
}

.LSLPD > li {
  width: 200px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background: #fefffe;
  transition: all 0.5s;
  > a {
    color: #f1323e;
    transition: all 0.5s;
  }
}

.LSLPD > li:hover a {
  color: #282929;
}

/* Logo Design */
.logoImg {
  width: 100%;
  height: 100px;
  position: relative;
}

.logoImg > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
}

/* Responsive styles */
@media (width <= 768px) {
  .navbar {
    width: 100%;
    left: -100%;
  }

  .navbar.open {
    left: 0;
  }

  .toggle-button.shiftBTN {
    left: 90%;
    position: absolute;
  }
}

@media (width <= 427px) {
  .toggle-button.shiftBTN {
    left: 80%;
  }
}
